<app-header></app-header>
<app-marquee></app-marquee>
<app-nav-bar></app-nav-bar>
<app-event-list></app-event-list>

<div class="titleContainer">
  <div class="rectanglePic">
    <img src="imgs/rectangle97.png" alt="" />
  </div>
  <h2>活動中心</h2>
</div>
<div class="eventContainer">
  <div class="eventTitleContainer">
    <h2>活動名稱 / 公告</h2>
    <h3>副標題</h3>
  </div>
  <div class="eventContent">
    <div class="eventDuring">
      <h5>【活動期間】</h5>
      <p>2021.03.08 16:00~2021.09.08 16:00(UTC+9)</p>
    </div>
    <div class="eventTxt">
      <h5>【活動內容】</h5>
      <p>
        所有玩家圍坐成一圈開始輪流喊數字,由1開始遞增。<br />但當輪到含有數字「3、6、9」或是3、6、9的倍數時,例如
        3、6、9、13、16、19、30、31、32、33(此時應該要拍手兩次)等,玩家就不能喊出該數字,而是要拍手。<br />拍手的次數取決於該數字中「3、6、9」的出現次數。<br />玩家必須保持節奏和速度,不能猶豫或拍錯次數。
      </p>
    </div>
    <div class="eventGames">
      <h5>【參與活動的遊戲】</h5>
      <div class="gamesPic">
        <div class="gameImg"></div>
        <div class="gameImg"></div>
        <div class="gameImg"></div>
        <div class="gameImg"></div>
      </div>
    </div>
  </div>
</div>

<app-purse></app-purse>
<app-copyright></app-copyright>
