<div class="eventListContainer">
  <div class="eventListTitleContainer">
    <div class="monthTitle">
      <h3>9</h3>
      <p>月</p>
    </div>
    <div class="eventListTitle">
      <img src="imgs/eventList.png" alt="event list picture" />
      <h3>― 夏日慶典活動 ―</h3>
    </div>
  </div>
  <swiper-container
    slides-per-view="4.4"
    direction="vertical"
    class="eventListContent"
  >
    <!-- 活動一 -->
    <swiper-slide>
      <div class="eventListItem">
        <a [routerLink]="['/eventListContent']"
          ><img src="imgs/eventItmPic.png"
        /></a>
        <div class="eventItemTitleContainer">
          <div class="eventItemTitle">
            <h5>標題</h5>
          </div>
          <div class="eventItemSubTitle">
            <h5>副標題</h5>
          </div>
        </div>
      </div>
    </swiper-slide>
    <!-- 活動二 -->
    <swiper-slide>
      <div class="eventListItem">
        <a [routerLink]="['/eventListContent']">
          <img src="imgs/eventItmPic.png"
        /></a>
        <div class="eventItemTitleContainer">
          <div class="eventItemTitle">
            <h5>標題</h5>
          </div>
          <div class="eventItemSubTitle">
            <h5>副標題</h5>
          </div>
        </div>
      </div>
    </swiper-slide>
    <!-- 活動三 -->
    <swiper-slide>
      <div class="eventListItem">
        <a [routerLink]="['/eventListContent']">
          <img src="imgs/eventItmPic.png"
        /></a>
        <div class="eventItemTitleContainer">
          <div class="eventItemTitle">
            <h5>標題</h5>
          </div>
          <div class="eventItemSubTitle">
            <h5>副標題</h5>
          </div>
        </div>
      </div>
    </swiper-slide>
    <!-- 活動四 -->
    <swiper-slide>
      <div class="eventListItem">
        <a [routerLink]="['/eventListContent']">
          <img src="imgs/eventItmPic.png"
        /></a>
        <div class="eventItemTitleContainer">
          <div class="eventItemTitle">
            <h5>標題</h5>
          </div>
          <div class="eventItemSubTitle">
            <h5>副標題</h5>
          </div>
        </div>
      </div>
    </swiper-slide>
    <!-- 活動五 -->
    <swiper-slide>
      <div class="eventListItem">
        <a [routerLink]="['/eventListContent']">
          <img src="imgs/eventItmPic.png"
        /></a>
        <div class="eventItemTitleContainer">
          <div class="eventItemTitle">
            <h5>標題</h5>
          </div>
          <div class="eventItemSubTitle">
            <h5>副標題</h5>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
