<app-header></app-header>
<app-marquee></app-marquee>
<app-nav-bar></app-nav-bar>

<div class="bossDuelContainer">
  <!-- 總傷害排名 -->
  <div class="playerHurtContainer">
    <div class="scoreTitle">
      <span>•</span>
      <h3>總傷害排名</h3>
      <span>•</span>
    </div>
    <div class="scoreContent">
      <div class="scoreItem">
        <h4>1</h4>
        <h5>玩家名稱</h5>
        <p>8496465</p>
        <div class="gamePropsContainer">
          <div class="gameProps"></div>
          <div class="gameProps"></div>
        </div>
      </div>
      <div class="scoreItem">
        <h4>2</h4>
        <h5>玩家名稱</h5>
        <p>8496465</p>
        <div class="gamePropsContainer">
          <div class="gameProps"></div>
          <div class="gameProps"></div>
        </div>
      </div>
      <div class="scoreItem">
        <h4>3</h4>
        <h5>玩家名稱</h5>
        <p>8496465</p>
        <div class="gamePropsContainer">
          <div class="gameProps"></div>
          <div class="gameProps"></div>
        </div>
      </div>
    </div>
    <div class="scoreMyself">
      <h4>8</h4>
      <h5>自己</h5>
      <p>8496465</p>
      <div class="myGamePropsContainer">
        <div class="myGameProps"></div>
        <div class="myGameProps"></div>
      </div>
    </div>
    <div class="scoreFooter">
      <span>•</span>
      <span>•</span>
    </div>
  </div>
  <!-- 挑選玩家row -->
  <div class="pickPlayerContainer">
    <div class="playerItem"></div>
    <div class="playerItem"></div>
    <div class="playerItem"></div>
    <div class="playerItem"></div>
    <div class="playerItem"></div>
  </div>
  <div class="bossDuelBtn">
    <button class="btn secondary">進入決鬥</button>
    <p>(每日免費1次)</p>
  </div>
</div>

<app-purse></app-purse>
<app-copyright></app-copyright>
