<div class="InfoContainer">
  <!-- 遊戲公告 -->
  <div class="gamesInfo">
    <div class="gamesInfoTitle">
      <div class="gamesInfoTitlePic">
        <img src="imgs/megaphone.png" alt="" />
      </div>
      <h3>公告</h3>
    </div>
    <swiper-container
      slides-per-view="3"
      direction="vertical"
      class="carouselContent"
    >
      <swiper-slide><img src="imgs/info.png" alt="" /></swiper-slide>
      <swiper-slide><img src="imgs/info.png" alt="" /></swiper-slide>
      <swiper-slide><img src="imgs/info.png" alt="" /></swiper-slide>
      <swiper-slide><img src="imgs/info.png" alt="" /></swiper-slide>
      <swiper-slide><img src="imgs/info.png" alt="" /></swiper-slide>
    </swiper-container>
  </div>
</div>
